/* Общие стили */ 
body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    min-width: 1200px;
    color: #151C22;
    line-height: 21px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    color: inherit;
}
/* Стили для хедера */

.main-header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0;
    margin: 0;
    align-content: flex-start;
    justify-content: flex-start;
    
}
.main-nav-item {
    padding: 25px 0;
    margin-left: 35px;
    list-style: none;
    
}
.link-item {
    text-decoration: none;
}
.link-logo {
    cursor: pointer;
}
.logo {
    margin: 0 auto;
}
.icon-items {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    align-content: flex-start;
    justify-content: flex-end;
    list-style: none;
}
.icon-item {
    padding: 25px 0;
    margin-left: 35px; 
}

/* Стили для промо-блока */ 

.promo {
    background-color: #F1F2F4;
}
.promo-title {
    color: #727A82;
    font-size: 18px;
    line-height: 21px; 
    position: relative;
    top: 150px;
}
.promo-text {
    font-family: 'Anton', sans-serif;
    font-size: 128px;
    line-height: 188px;
    text-transform: uppercase;
    text-align: right;
}
.promo-btn {
    background-color: #151C22;
    color: #FFFFFF;
    width: 219px;
    height: 64px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-decoration: none;
    padding: 25px;
    position: relative;
    top: -100px;
}
.down-btn {
    border: none;
    background: url(decoration/arrow.png) no-repeat 0 0;
    background-size: 100%;
    width: 10px;
    height: 30px;
    position: relative;
    left: -400px;
    top: 50px;
    cursor: pointer;
}
.promo-wrapper {
    display: flex;
}
.promo-text-column {
    width: 300px;
    margin-left: 170px;
    margin-right: 100px;
}
.promo-image-column {
    width: 430px;
    padding: 50px;
    background: url(decoration/diagonal-promo.png) no-repeat 0% 0%,
    url(decoration/diagonal-promo-1.png) no-repeat 100% 100%;
    background-size: 50%;
}

/* Текстовые стили для разных секций  */ 

.section-heading {
    font-size: 32px;
    font-weight: bold;
    line-height: 37px;
}
.view-all {
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    border-bottom: 2px solid #151C22;
    padding-bottom: 6px;
    text-decoration: none;
}

.catalog-item {
    list-style: none;
}

.catalog-item-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.catalog-item-link img {
    order: -1;
}
.catalog-title {
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
}
.catalog-price {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

/* Стили для блока бестселлер */
.bestsellers {
    margin-top: 120px; 
    margin-bottom: 100px;
    padding: 0;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: -30px;
}
.catalog-item {
    width: 270px;
    margin-bottom: 25px;
    margin-right: 30px;
}

/* Стили для блока новостей */ 
.news {
    padding-bottom: 100px;
}
.news-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background: url(decoration/diagonal-news.png) no-repeat 100% 50%;
}
.news-text-column {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:#F1F2F4;
    padding-left: 35px;
    padding-top: 52px;
    padding-bottom: 50px;
}
.news-image-column {
    width: 700px;
    height: 370px;
}
.acticle-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}
.news-text-column time {
    font-size: 18px;
    line-height: 21px;
}
.news-text-column p {
    color: #727A82;
    margin-bottom: 50px;
    width: 310px;
}

.news-btn {
    box-sizing: border-box;
    width: 200px;
    height: 64px;
    padding: 25px 45px;
    background: #151C22;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;  
}
/* подвал*/ 
.main-footer {
    background-color: #151C22;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    padding-top: 50px;
    padding-bottom: 50px; 
}
.main-footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
    margin: 0 auto 35px;
}
.footer-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    width: 525px;
}
.footer-nav-item {
    margin-right: 35px;
    margin-bottom: 35px;
    list-style: none;
}
.footer-icons {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}
.footer-icon {
    width: 20px;
    height: 20px;
    margin-right: 30px;
    cursor: pointer;
}

.pinterest {
    background: url(footer-icons/pinterest.svg) no-repeat 50% 50%;;
}
.twitter {
    background: url(footer-icons/twitter.svg) no-repeat 50% 50%;;
}
